# Virtual Environment
mypro/env/
mypro/venv/
mypro/.venv/
env/
venv/
.venv/

# Python
mypro/__pycache__/
*.pyc
*.pyo
*.pyd

# Database
mypro/db.sqlite3

# Static files
mypro/staticfiles/

# Media files 
mypro/media/

# Django settings
mypro/mypro/settings.py

# Environment variables
mypro/.env

