# ========================
# Virtual Environments
# ========================
mypro/env/
mypro/venv/
mypro/.venv/
env/
venv/
.venv/

# ========================
# Python Cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Database
# ========================
mypro/db.sqlite3

# ========================
# Static & Media files
# ========================
mypro/myapp/static/
mypro/product_images/
mypro/media/

# ========================
# Django settings & secrets
# ========================
mypro/mypro/settings.py
mypro/.env

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Docker
# ========================
.dockerignore
Dockerfile
docker-compose.yml
